extends layout

mixin labelControl(isHeader, rowIndex)
    each labelControl in labelControls
        th
            a(
                class=`labelButton waves-effect waves-light btn-small ${labelControl.color}`,
                onClick=`annotate(${JSON.stringify(isHeader)}, ${JSON.stringify(rowIndex)}, ${JSON.stringify(labelControl.label)});`
            ) #{labelControl.label}

block head
    script.
        const annotate = (isHeaderJson, rowIndexJson, annotation) => {
            const isHeader = JSON.parse(isHeaderJson);
            const rowIndex = JSON.parse(rowIndexJson);
            const annotations = isHeader ? window.headerAnnotations : window.dataAnnotations;
            annotations[rowIndex] = annotation;
            $('.saveButton').toggleClass('disabled', false);
            $(`tr${isHeader ? '[data-is-header]' : ':not([data-is-header])'}[data-row-index='${rowIndex}']`).attr('data-label', annotation);
        }

        const save = () =>
            axios
                .post(
                    `http://localhost:3000/table/${window.id}`,
                    {
                        headerAnnotations: window.headerAnnotations,
                        dataAnnotations: window.dataAnnotations
                    }
                )
                .then(() => $('.saveButton').toggleClass('disabled', true))
                .catch(error => {
                    M.toast({html: error});
                    throw error;
                });

        const next = () => window.location.replace('http://localhost:3000/table/next');

        const saveAndNext = () =>
            save().then(next);

        const skip = () =>
            axios
                .post(`http://localhost:3000/table/${window.id}/skip`)
                .then(next)
                .catch(error => {
                    M.toast({html: error});
                    throw error;
                });

block content
    h1(class='center') #{title}
    div(class='container')
        div(class='row')
            div(class='col s2')
                a(class='pointer', onClick='skip()') Skip
            div(class='col s2 offset-s8')
                a(href=tableSource, target='_blank', class='right') Show Source
        div(class='row')
            div(class='col s12')
                table(class='annotationTable')
                    thead
                        each row, rowIndex in headerRows
                            tr(
                                data-is-header=true,
                                data-label=headerAnnotations[rowIndex],
                                data-row-index=rowIndex
                            )
                                +labelControl(true, rowIndex)
                                each cell in row
                                    | !{cell.tdHtmlString}
                    tbody
                        each row, rowIndex in dataRows
                            tr(
                                data-label=dataAnnotations[rowIndex],
                                data-row-index=rowIndex
                            )
                                +labelControl(false, rowIndex)
                                each cell in row
                                    | !{cell.tdHtmlString}
        div(class='row')
            div(class='col s2 offset-s5 center')
                a(
                    class='saveButton waves-effect waves-light btn-small white blue-text capitalized',
                    onClick='save()'
                ) Save
            div(class='col s2 offset-s3')
                a(
                    class='waves-effect waves-light btn-small white blue-text capitalized right',
                    onClick='saveAndNext()'
                ) Save & Next